* {
    font-family: 'Nunito', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden !important;
    font-family: 'Nunito', sans-serif;
}

#sidenav-main {
    max-width: 17.10rem !important;
    background-color: black !important;
    margin: 0;
    overflow-x: hidden;
}

.bg-black {
    background-color: #000000 !important;
}


/*NO BORRAR QUITAR SCROLL LATERAL*/
.main-content {
    overflow-x: hidden !important;
}

/*NO BORRAR QUITAR SCROLL LATERAL*/
.ps__rail-x,
.ps__thumb-x {
    display: none !important;
}

/*NO BORRAR QUITAR NAV EFECTOS*/
.nav-item .nav-link:hover {
    background-color: transparent !important;
    color: inherit !important;
}

/*NO BORRAR QUITAR NAV EFECTOS*/
.nav-item .nav-link:hover {
    background-color: transparent !important;
    color: #FFFFFF !important;

}

/*NO BORRAR QUITAR NAV EFECTOS*/
.nav-item .nav-link.active {
    background-color: transparent !important;
    color: #FFFFFF !important;
}


/*NAV*/
#navbarBlur {
    position: relative;
    z-index: 1;
}

#navbarBlur::after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -50px;
    right: -6px;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.1), transparent);
    box-shadow: 0 0 3px 0px rgba(255, 0, 0, 0.1);
    z-index: -1;
}

/*NAV EFECTOS*/
.nav-link {
    position: relative;
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    padding: 8px 12px;
    margin: 0 8px;
    box-sizing: border-box;
    text-align: center;
    justify-content: left;
    width: fit-content;
    /* Ajusta el ancho al contenido */
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 16px;
    /* Ajusta la posición para que empiece justo después del icono */
    right: 0;
    height: 2px;
    background-color: #9c2121;
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: left center;
}

.nav-link:hover::before {
    transform: scaleX(1);
}

.icon-white {
    color: #fff;
    /* Color blanco para el icono */
}

#dropdownMenuButton:before {
    content: none !important;
    /* Elimina cualquier contenido generado */
    border: none !important;
    /* Elimina cualquier borde */
}


