body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: "Nunito", sans-serif;
}

/*------------------scroll bar style---------------------*/

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000000;
}

/*------------------scroll bar style---------------------*/
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

/* Estilos para el ícono de flecha de volver */
.return-icon {
    position: absolute;

    padding: 15px;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    transition: color 0.3s ease;
    z-index: 1000;
}

.return-icon:hover {
    color: #9c2121;
}

/* Estilos adicionales */
.position-relative .form-control {
    padding-right: 40px; /* Espacio para el ícono del ojo */
}

.position-relative i.fas {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

/* Estilo para la casilla de verificación */
.form-check-input {
    border-radius: 5px;
}
