/* General styles for thumbnails */
.product-card-container .product-card-img {
    width: 200px;
    height: 115px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
}

/* Styles for the main image */
.main-image {
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

/* Styles for color circles */
.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: -5px;
}

/* Styles for color names */
.color-name {
    display: inline-block;
    vertical-align: middle;
}

/* Specific colors for circles */
.red-circle {
    background-color: red;
}
.blue-circle {
    background-color: blue;
}
.green-circle {
    background-color: green;
}
.yellow-circle {
    background-color: yellow;
}
.black-circle {
    background-color: black;
}
.white-circle {
    background-color: white;
    border: 1px solid #000;
}
.silver-circle {
    background-color: silver;
}

/* Styles for the form layout */
.form-container {
    display: flex;
    justify-content: space-between;
}

.form-column {
    flex: 1;
    margin-right: 10px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
    }

    .form-column {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/*CALENDARIO*/
/* Estilos personalizados para el calendario */
.flatpickr-calendar {
    animation: fadeIn 0.3s ease-in-out;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.flatpickr-calendar .flatpickr-day {
    transition: all 0.3s ease-in-out;
    position: relative;
}

.flatpickr-calendar .flatpickr-day.selected,
.flatpickr-calendar .flatpickr-day.startRange,
.flatpickr-calendar .flatpickr-day.endRange,
.flatpickr-calendar .flatpickr-day.selected.inRange,
.flatpickr-calendar .flatpickr-day.selected:focus,
.flatpickr-calendar .flatpickr-day.selected:hover,
.flatpickr-calendar .flatpickr-day.startRange:focus,
.flatpickr-calendar .flatpickr-day.startRange:hover,
.flatpickr-calendar .flatpickr-day.endRange:focus,
.flatpickr-calendar .flatpickr-day.endRange:hover,
.flatpickr-calendar .flatpickr-day.selected.inRange:focus,
.flatpickr-calendar .flatpickr-day.selected.inRange:hover {
    background-color: #9c2121 !important;
    border-color: #9c2121 !important;
    color: #fff !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.flatpickr-calendar .flatpickr-day.today.selected {
    background-color: #9c2121 !important;
    border-color: #9c2121 !important;
    color: #fff !important;
}

.flatpickr-calendar .flatpickr-day.today {
    background-color: #f5c6c6 !important;
    border-color: #f5c6c6 !important;
    color: #000 !important;
    border-radius: 50%;
}

.flatpickr-calendar .flatpickr-day:hover {
    background-color: #f5c6c6 !important;
    border-color: #f5c6c6 !important;
    color: #000 !important;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.flatpickr-time input:hover,
.flatpickr-time input:focus,
.flatpickr-time .flatpickr-am-pm:hover,
.flatpickr-time .flatpickr-am-pm:focus {
    background-color: #f5c6c6 !important;
    border-color: #f5c6c6 !important;
    color: #000 !important;
    transition: background-color 0.3s, color 0.3s;
}
